# Logs
dx_run.log

# Coverage reports
.coverage

# macOS system files
.DS_Store

# Poetry lockfile
poetry.lock

# Pytest cache
/test/.pytest_cache/
/test/__pycache__/
.pytest_cache/

# Python bytecode
collapsevariants/tool_parsers/__pycache__/
collapsevariants/__pycache__/

# IDE files
.idea/

# Test data
!/test/test_data/expected_outputs
/test/test_data/

