/.talismanrc
/test/sim_data/*
/test/test_data_old/
/test/test_data/old_test_data
/test/.pytest_cache/
/test/test_data/chr7_10.*
/test/test_data/old_test_data/*
/test/test_data/Duat_*
/test/test_data/chr1_chunk*
dx_run.log
/test/test_data/*
/test/test_data/old_test_data/
test/__pycache__/
collapsevariants/tool_parsers/__pycache__/
collapsevariants/__pycache__/
.idea/
.coverage
.DS_Store